/*
* @author: Octacom
* @date: 2022-03-30
* @description: Octacom css file for Jommla websites developement
*/

@font-face {
  font-family: "Octacom headers";
  src: url("../fonts/Octacom-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Octacom texts";
  src: url("../fonts/Octacom-Regular-2.ttf") format("truetype");
  font-display: swap;
}

/* --------- General styling ---------- */

:root {
  --octa-primary-value: 0, 0%, 0%;
  --octa-secondary-value: 0, 0%, 0%;
  --octa-tertiary-value: 0, 0%, 0%;
  --octa-quaternary-value: 0, 0%, 0%;

  --octa-primary: hsl(var(--octa-primary-value));
  --octa-secondary: hsl(var(--octa-secondary-value));
  --octa-tertiary: hsl(var(--octa-tertiary-value));
  --octa-quaternary: hsl(var(--octa-quaternary-value));

  --octa-headers-font: "Octacom headers", sans-serif;
  --octa-base-font: "Octacom texts", sans-serif;
  --octa-base-line-height: 1.5;
  --octa-text-color: hsl(0, 0%, 20%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--octa-base-font);
  font-size: 1em;
  font-weight: 400;
  line-height: var(--octa-base-line-height);
  color: var(--octa-text-color);
  text-rendering: optimizelegibility;
}

ol li,
ul li {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block: 10px;
  font-family: var(--octa-headers-font);
  font-weight: 400;
  line-height: var(--octa-base-line-height);
  color: var(--octa-text-color);
  text-wrap: balance;
}

h1 {
  font-size: xrem;
}

h2 {
  font-size: xrem;
}

.itemid-101 h1 {
  font-size: xrem;
}

.itemid-101 h2 {
  font-size: xrem;
}

h3 {
  font-size: xrem;
}

h4 {
  font-size: xrem;
}

h5 {
  font-size: xrem;
}

h6 {
  font-size: 1.1rem;
}

a {
  cursor: pointer !important;
}

.item_header h1,
.item_fulltext h1,
body:not(.itemid-101) .page_header h1,
.category_desc h1,
.view-contact h1,
.categoriedesc h1 {
  padding-block: 20px;
  margin-block: 20px;
  border-bottom: 1px solid var(--octa-primary);
}

strong {
  color: var(--octa-primary);
}

.item_fulltext a {
  font-weight: 700;
  color: var(--octa-secondary);
}

.item_fulltext a {
  text-decoration: underline !important;
}

.item_fulltext a:hover,
.item_fulltext .btn,
.item_fulltext .btn:hover,
.item_fulltext .btn:focus,
.item_fulltext .btn:active {
  text-decoration: none !important;
}

.item_fulltext a.btn {
  color: #fff;
}

::selection {
  background: var(--octa-primary);
  color: #fff;
}

::-moz-selection {
  background: var(--octa-primary);
  color: #fff;
}

.btn-group,
.content-links,
.btn.jmodedit {
  display: none !important;
}

.item_fulltext .btn.fa:before {
  position: relative;
  left: 5px;
  top: 3px;
  font-size: 20px;
}

/*------------listes---------------*/
/*check \f00c check circle \f058 chevron simple \f105 chevrons double \f101 arrow circle \f35a arrow \f061 tag \f02b*/
.item_fulltext li {
  padding-left: 20px;
  margin-left: 1em;
  position: relative;
  line-height: 1.5;
}

.item_fulltext li::marker {
  color: var(--octa-primary);
  font-weight: 700;
  content: "\f058";
  font-family: FontAwesome;
  font-size: 20px;
  position: absolute;
  left: -1em;
  top: 3px;
}

/*------------ Joomla modules ---------------*/

#tarteaucitronAlertSmall
  #tarteaucitronManager
  #tarteaucitronDot
  #tarteaucitronDotGreen {
  background-color: var(--octa-primary) !important;
}

#tarteaucitronAlertSmall #tarteaucitronManager {
  color: var(--octa-primary) !important;
}

/*-------------------Rappel immédiat -----------------*/
button.mod_rappel_form_btn {
  background: var(--octa-primary) !important;
}

/*------------------SocialLinks------------------------*/
.rt-social-buttons .rt-social-icon {
  background-color: var(--octa-primary) !important;
}

.rt-social-buttons .rt-social-text {
  background: var(--octa-primary);
  font-size: 0.85rem !important;
  font-weight: 400 !important;
}

.rt-social-buttons {
  top: 400px !important;
}

/*--------------------FORM----------------------*/
.mod_tm_ajax_contact_form textarea,
.mod_tm_ajax_contact_form input[type="text"],
.mod_tm_ajax_contact_form input[type="password"],
.mod_tm_ajax_contact_form input[type="datetime"],
.mod_tm_ajax_contact_form input[type="datetime-local"],
.mod_tm_ajax_contact_form input[type="date"],
.mod_tm_ajax_contact_form input[type="month"],
.mod_tm_ajax_contact_form input[type="time"],
.mod_tm_ajax_contact_form input[type="week"],
.mod_tm_ajax_contact_form input[type="number"],
.mod_tm_ajax_contact_form input[type="email"],
.mod_tm_ajax_contact_form input[type="url"],
.mod_tm_ajax_contact_form input[type="search"],
.mod_tm_ajax_contact_form input[type="tel"],
.mod_tm_ajax_contact_form input[type="color"],
.mod_tm_ajax_contact_form .chzn-container .chzn-single,
.mod_tm_ajax_contact_form .chzn-container-active.chzn-with-drop .chzn-single,
.uneditable-input {
  background: unset !important;
  background-color: transparent !important;
  border: 1px solid var(--octa-primary);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 50px;
  color: var(--octa-text-color);
  box-shadow: none !important;
  padding: 16px 19px;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;
  vertical-align: middle;
  font-family: var(--octa-base-font);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.mod_tm_ajax_contact_form .chzn-drop {
  background: #fff !important;
  margin-top: 1px !important;
  border: 1px solid var(--octa-primary) !important;
  border-radius: 0 !important;
  font-size: 1rem !important;
  padding: 5px;
  overflow: hidden !important;
}
.mod_tm_ajax_contact_form .chzn-container .chzn-results li.active-result {
  color: var(--octa-text-color) !important;
}

.mod_tm_ajax_contact_form .chzn-container .chzn-results li.disabled-result {
  display: none;
}

.mod_tm_ajax_contact_form .chzn-container .chzn-results li.highlighted {
  background: unset !important;
  background-color: var(--octa-primary) !important;
  color: #fff !important;
  border-radius: 0 !important;
}

.mod_tm_ajax_contact_form select {
  opacity: 0;
}

.mod_tm_ajax_contact_form .chzn-container-single .chzn-single div {
  position: absolute !important;
  top: 45% !important;
  right: 0 !important;
  display: block !important;
  width: 19px !important;
  height: 18px !important;
  transform: translateY(-55%) !important;
}

label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}

.mod_tm_ajax_contact_form input:focus:invalid:focus,
.mod_tm_ajax_contact_form textarea:focus:invalid:focus,
.mod_tm_ajax_contact_form select:focus:invalid:focus {
  border-color: var(--octa-primary);
}

.mod_tm_ajax_contact_form input::placeholder,
.mod_tm_ajax_contact_form textarea::placeholder {
  color: var(--octa-text-color);
}

.mod_tm_ajax_contact_form input:focus::placeholder,
.mod_tm_ajax_contact_form textarea:focus::placeholder {
  color: var(--octa-primary);
}

.g-recaptcha > div {
  display: block;
  margin: auto;
}

.mod_tm_ajax_contact_form .checkbox-area {
  text-align: center;
}

.mod_tm_ajax_contact_form input[type="checkbox"] {
  display: none;
}

.mod_tm_ajax_contact_form input[type="checkbox"] + label::before {
  font-family: "FontAwesome";
  content: "\f0c8";
  font-size: 1.75rem;
  color: var(--octa-primary);
  margin-right: 0.5em;
  position: relative;
  top: 5px;
}

.mod_tm_ajax_contact_form input[type="checkbox"]:checked + label::before {
  content: "\f14a";
}

.control-group-button,
.control-group-button .control {
  display: flex !important;
  justify-content: center;
}

/*------------------Ba Gallery-------------------*/
.ba-gallery .categories-description a.btn {
  background: var(--octa-primary);
  padding: 25px 50px;
  border-radius: 50px;
}

.ba-gallery .categories-description a.btn:hover,
.ba-gallery .categories-description a.btn:focus,
.ba-gallery .categories-description a.btn:active {
  background: var(--octa-secondary);
}

.ba-gallery .ba-goback > a:hover,
.item_fulltext .ba-btn.ba-current,
.item_fulltext .ba-btn:hover {
  background: var(--octa-primary) !important;
}

.item_fulltext .ba-gallery .ba-goback a,
.item_fulltext .ba-btn {
  text-decoration: none !important;
}

/* ------------------ RGPD page table ------------------- */
.responsive-rgpd tr :is(th, td) {
  color: var(--octa-text-color) !important;
}

/* ------------------ Carousel ------------------- */
.caroufredsel_prev,
.caroufredsel_next {
  color: var(--octa-primary) !important;
}

/* ------------------ Rows ------------------- */
.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  --basis: 100%;
  column-gap: var(--col-gap, 0px);
  row-gap: var(--row-gap, 0px);
}

.flex.jstart {
  justify-content: flex-start;
}

.flex.jcenter {
  justify-content: center;
}

.flex.jend {
  justify-content: flex-end;
}

.flex.jbetween {
  justify-content: space-between;
}

.flex.jaround {
  justify-content: space-around;
}

.flex.jevenly {
  justify-content: space-evenly;
}

.flex.istart {
  align-items: flex-start;
}

.flex.iend {
  align-items: flex-end;
}

.flex.istretch {
  align-items: stretch;
}

.flex.icenter {
  align-items: center;
}

.flex.col {
  flex-direction: column;
}

.flex.grow > * {
  flex-grow: 1;
}

.flex.no-grow > * {
  flex-grow: 0;
}

.flex.wrap {
  flex-wrap: wrap;
}

.flex.no-wrap {
  flex-wrap: nowrap;
}

.flex.shrink > * {
  flex-shrink: 1;
}

.flex.no-shrink > * {
  flex-shrink: 0;
}

.flex.no-basis > * {
  flex-basis: auto;
}

.flex.no-gap {
  --col-gap: 0px;
  --row-gap: 0px;
}

.flex.gap-5 {
  --col-gap: 5px;
  --row-gap: 5px;
}

.flex.gap-10 {
  --col-gap: 10px;
  --row-gap: 10px;
}

.flex.gap-15 {
  --col-gap: 15px;
  --row-gap: 15px;
}

.flex.gap-20 {
  --col-gap: 20px;
  --row-gap: 20px;
}

.flex.gap-25 {
  --col-gap: 25px;
  --row-gap: 25px;
}

.flex.gap-30 {
  --col-gap: 30px;
  --row-gap: 30px;
}

.flex.gap-35 {
  --col-gap: 35px;
  --row-gap: 35px;
}

.flex.gap-40 {
  --col-gap: 40px;
  --row-gap: 40px;
}

.flex.gap-50 {
  --col-gap: 50px;
  --row-gap: 50px;
}

.flex.auto > * {
  flex-basis: auto;
}

.flex.even-10 > * {
  --basis: 10%;
}

.flex.even-20 > * {
  --basis: 20%;
}

.flex.even-25 > * {
  --basis: 25%;
}

.flex.even-33 > * {
  --basis: 33.33333333333333%;
}

.flex.even-50 > * {
  --basis: 50%;
}

.flex.child-80-20 > *:nth-child(odd) {
  --basis: 80%;
}

.flex.child-80-20 > *:nth-child(even) {
  --basis: 20%;
}

.flex.child-20-80 > *:nth-child(odd) {
  --basis: 20%;
}

.flex.child-20-80 > *:nth-child(even) {
  --basis: 80%;
}

.flex.child-75-25 > *:nth-child(odd) {
  --basis: 75%;
}

.flex.child-75-25 > *:nth-child(even) {
  --basis: 25%;
}

.flex.child-25-75 > *:nth-child(odd) {
  --basis: 25%;
}

.flex.child-25-75 > *:nth-child(even) {
  --basis: 75%;
}

.flex.child-70-30 > *:nth-child(odd) {
  --basis: 70%;
}

.flex.child-70-30 > *:nth-child(even) {
  --basis: 30%;
}

.flex.child-30-70 > *:nth-child(odd) {
  --basis: 30%;
}

.flex.child-30-70 > *:nth-child(even) {
  --basis: 70%;
}

.flex.child-60-40 > *:nth-child(odd) {
  --basis: 60%;
}

.flex.child-60-40 > *:nth-child(even) {
  --basis: 40%;
}

.flex.child-40-60 > *:nth-child(odd) {
  --basis: 40%;
}

.flex.child-40-60 > *:nth-child(even) {
  --basis: 60%;
}

.flex > * {
  flex-basis: calc(var(--basis) - var(--col-gap, 0px));
}

/*--------------------- Media querries --------------------------*/
/* Ipad pro */
@media (max-width: 1400px) {
}
/* Ipad air */
@media (max-width: 1200px) {
}
/* Ipad mini */
@media (max-width: 1024px) {
}

@media (max-width: 820px) {
  .flex {
    flex-direction: column;
  }
  .flex > * {
    width: 100%;
    --basis: 100% !important;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 550px) {
  .flex {
    padding-inline: 25px;
  }
}
